<div class="grid_16 alpha omega"><!-- LINHA 1: CIDADES MAIS ATIVAS + TEMAS MAIS RELEVANTES -->
  <% unless logged_in? %>
    <div class="infografico">
      <h2>O que você sonha para São Paulo?</h2>
      <ol>
        <li>Escreva sua ideia no USPOcupa</li>
        <li>Divulgue e peça apoio</li>
        <li>As melhores ideias serão levadas ao debate público</li>
        <li>Você colabora para uma cidade melhor!</li>
      </ol>
      <%= link_to "Participe", cadastrar_url, :class => 'participe' %>
    </div>
  <% end %>

  <% unless @universidades.empty? %>
    <div class="grid_8 alpha">
      <h2 class="subtitulo_home">Quem sonha</h2>
      <div class="rounded destaque cloud">
        <% tag_cloud(@universidades, %w(nuvem_1 nuvem_2 nuvem_3 nuvem_4 nuvem_5), :relevancia => true) do |universidade, c| -%>
          <span class="<%= c %>">
          <%= link_to "#{universidade.name}", {
                        :controller => "topicos", 
                        :action => "index",
                        :topico_type => "topicos",
                        :tag_id => universidade.id 
                       },
                       :title => "tópicos na universidade '#{universidade.name}'" -%></span>
        <% end -%>
      </div>
    </div>
  <% end %>
  <% unless @tags.empty? %>
    <div class="grid_8 omega">
      <h2 class="subtitulo_home">A USP sonha com</h2>
      <div class="rounded destaque cloud">
        <% tag_cloud(@tags, %w(nuvem_1 nuvem_2 nuvem_3 nuvem_4 nuvem_5), :relevancia => true) do |tag, c| -%>
          <span class="<%= c %>">
          <%= link_to "#{tag.name}", {
                        :controller => "topicos", 
                        :action => "index",
                        :topico_type => "topicos",
                        :tag_id => tag.id 
                       },
                       :title => "#{tag.total} tópicos do tema '#{tag.name}'" -%></span>
        <% end -%>
      </div>
    </div>
  <% end %>
</div>

<div class="grid_16 alpha omega" style="margin-top: 10px"><!-- LINHA 2: DIVIDIDA EM DUAS COLUNAS: COL. 1 = PESSOAS E ENTIDADES; COL. 2 = PROPST. E PROBLM. -->
  <% unless @apoios.empty? %>
    <div class="grid_8 alpha">
      <h2>Últimos apoios</h2>
      <ul id="ultimos_apoios">
      <% @apoios.each do |apoio| -%>
      <li style="list-style:none; margin: 0 0 20px">
        <div class="clearfix <%= apoio.topico.class.to_s.downcase %>" style="display: block">
          <div style="width: 80px; float: left; margin: 0 10px 0 0">
            <%#= ficha_do_usuario(apoio.user, :badge => "_mini", :with_tags => false) %>
            <div class="layout_borda">
            <%= link_to avatar(apoio.user, 
                               :image_only => true, 
                               :thumbnails => :thumb),
                        perfil_url(apoio.user.id),
                        :class => "img_link #{apoio.user.nome_da_classe}",
                        :title => "Conheça o perfil de #{apoio.user.nome}" -%></div>
          </div>
          <div style="float: left; padding-top: 16px">
            <%= image_tag("icones/atividades_adesoes.png") %>
            <p class="number <%= apoio.topico.class.to_s.downcase %>"><%= apoio.topico.adesoes_count %></p>
          </div>
          <div class="detalhes" style="margin:0 0 0 120px">
            <p class="titulo rounded" style="min-height: 40px; padding: 10px 10px 10px 25px">
              <%= link_to truncate(apoio.topico.titulo, :length => 78), topico_url(:topico_slug => apoio.topico.to_param), :style => "color: #FFFFFF; font-weight: bold" %>
            </p>
          </div>
        </div>
      </li>
      <% end -%>
      </ul>
    </div>
  <% end %>
  <!-- coluna 2 -->
  <div class="grid_8 omega">
    <h2>Propostas e problemas</h2>
    <ul id="tabs_topicos">
      <li><a href="#topicos1">Mais recentes</a></li>
      <li><a href="#topicos2">Mais comentados</a></li>
      <li><a href="#topicos3">Mais apoiados</a></li>
    </ul>
    
    <div id="topicos1">
    <%= topicos(@topicos, :titulo_max_chars => 60, :mostrar_local => true, :mostrar_atividades => false) %>
    </div>
    <div id="topicos2">
    <%= topicos(@topicos_mais_comentados, :titulo_max_chars => 60, :mostrar_local => true, :mostrar_atividades => true) %>
    </div>
    <div id="topicos3">
    <%= topicos(@topicos_mais_apoiados, :titulo_max_chars => 60, :mostrar_local => true, :mostrar_atividades => true) %>
    </div>
    <script type="text/javascript" charset="utf-8">
    new Control.Tabs('tabs_topicos');
    </script>
  </div>
</div>

