<% form_tag "", :id => "form_localize" do %>
  <ul id="ambitos">
    <li id="local" <%= defineAmbito("local", @topico.locais, %w(class="ambito_ativado")) -%>><%= image_tag("locais_ambitos/ambito_local.png") %><%= link_to_function "Local", "return false" %></li>
  </ul>
  <%= render :partial => "topicos/selecionar_bairros" %>
  <%= submit_tag "Continuar &raquo;", :id => "bot_continuar" %>
<% end %>
